[submodule "tech/freepdk-45nm"]
	path = tech/freepdk-45nm
	url = https://github.com/mflowgen/freepdk-45nm.git
[submodule "tech/mflowgen"]
	path = tech/mflowgen
	url = git@github.com:swalther06/mflowgen.git
